.entity-cont {
  min-height: calc(100vh - var(--nav-height) - 10px);
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1em;
  background-color: var(--darkgrey);
  width: 90%;
  margin: auto;
}

.entity-info {
  text-align: center;
  margin: 1em;
  text-transform: capitalize;
  max-width: 40vw;
}

.entity-img {
  position: relative;
  overflow: hidden;
  max-width: 33vw;
  max-height: calc(100vh - var(--nav-height) - 10px);
}
.entity-img > img {
  position: relative;
  border-radius: 10px;
  border: 1px solid var(--yellow);
  max-width: 75%;
  margin: 1em;
  box-shadow: 0px 10px 10px 3px black;
}
@media screen and (max-width: 768px) {
  .entity-cont {
    flex-direction: column;
  }
}
.info-box {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 1em;
  margin-block: 1rem;
}
.info-box-item {
  background-color: var(--grey);
  padding: 1em;
  /* border: 1px var(--eggwhite) solid; */
  border-radius: 10px;
}

.info-box:last-child {
  line-height: 2em;
}

hr {
  margin-block: 0.3em;
}

.info {
  /* color: var(--eggwhite); */
  color: var(--textgrey);
}

.info-name {
  letter-spacing: 0.2em;
  text-transform: uppercase;
}
