@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;700&display=swap");
:root {
  --yellow: #ffd369;
  --alt-yellow: #ffe919;
  --lightgrey: #393e46;
  --grey: #222831;
  --darkgrey: #191d24;
  --eggwhite: #eeeeee;
  --textgrey: rgb(202, 202, 202);
  --nav-height: 78px;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  /* white-space: pre-line; */
}

.sw-text {
  font-family: "Star Jedi Hollow";
  letter-spacing: 0.1em;
}
body {
  background-color: var(--lightgrey);
  /* background-color: black; */
  color: var(--yellow);
  font-family: "Poppins";
  text-align: center;
  overflow-x: hidden;
}
a {
  text-decoration: none;
  color: inherit;
}
a:visited {
  color: inherit;
}
